<template name="customerfeedback">
<div class="container white-back">
  <div class="page-header">
    <h1>Customer Feedback</h1>
    
  </div>
  
 <p>Food insecurity is a devastating reality for many Colorado families. 
 <ul>
<li>1 in 7 Coloradans struggle with Hunger (733,000 people)</li>
<li>1 in 5 Colorado kids experiences food insecurity. (241,000 children)</li>
<li>1 in 4 working families do not have enough food to meet basic needs</li>
</ul>
In Montrose, there are 6140 people experiencing food insecurity right now. The average cost per meal being $3.08 per person per meal. Feed America estimates that it would cost $3,348,000 to solve this food insecurity just in Montrose. 

What if there was a better solution? The Pantry Project believes that we could solve food insecurity for Montrose for a fraction of that cost. Instead of $3.08/per person/meal, we can provide the staples for a nutritious meal for approximately $.25/meal (not including shipping or the food container).
</p>
<center>
<p><b><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> Read some of the top comments from our Montrose community about the problems facing families enrolled in SNAP or 
receiving services from the food bank. <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></b>
</p></center>
  <div align="right">
<hr><a href="https://docs.google.com/document/d/12zr8MouH0Q2XuxfENj6H7r3qnArqR9Q1sfRDjH5_bIw/edit?usp=sharing" target="_blank">View all 40+ Comments</a></div> 
<hr>
						<div class="media">
							<div class="pull-left">
								<a href="#">
									<img class="media-object" src="images/icon.png" height="128px" width="128px" border="4px" alt="Profile">
								</a>
							</div>
							<div class="media-body">
								<h4 class="media-heading">T.K.</h4>
								Food banks be like
					Here's 4 loaves of bread, some lemon filling, and 3 boxes of macaroni. You go home and have some macaroni and try to make some lemon bread or something, but then the bread ends up molding because you're one person with 4 loaves of bread and some lemon filling. My point being it's really hard to make meals.</div>
						</div>
					<hr>		  
						<div class="media">
							<div class="pull-left">
								<a href="#">
									<img class="media-object" src="images/icon.png" height="128px" width="128px" border="4px" alt="Profile">
								</a>
							</div>
							<div class="media-body">
								<h4 class="media-heading">R.W.</h4>
								1) the last time I went to the food bank I got 5 cans of veggies 1 loaf of bread and a cake. This was for a family of 3. I understand there is limited food and bigger families but this did my family no good unless we wanted green beans on bread with a side of cake. At the time I was trying to feed us for 2 weeks on $30.
					2) craziest thing was energy drinks and enough steak shrimp and crab for 2 months for a family of 5 for a family of 3.
					3) I think the hardest part about getting assistance at least for me was they did not take into consideration that I have to pay rent and bills before I can buy food. After these bills I had $75-$100 to feed us for 2 weeks.
							</div>
						</div>
						
					<hr>	
						<div class="media">
							<div class="pull-left">
								<a href="#">
									<img class="media-object" src="images/icon.png" height="128px" width="128px" border="4px" alt="Profile">
								</a>
							</div>
							<div class="media-body">
								<h4 class="media-heading">N.T.</h4>
								Currently, food stamps work for any kind of food to be purchased. It doesn't guarantee that a family will eat nutritionally. If it were set up more like WIC to designate nutritional items, it would assist families a lot better.

					I saw a lady purchase a ginger bread house kit with food stamps a couple years ago. 

					I agree that not taking a mortgage and other bills into consideration makes it harder. Both my husband and I were or if work a couple years ago and with his unemployment we only qualified for $40 worth of food stamps a month. His unemployment covered our mortgage and utilities. Thank goodness we had family and were able to sell things until we were up in our feet again.</div>
						</div>

			

						<hr>	
					<div class="media">
						<div class="pull-left">
							<a href="#">
								<img class="media-object" src="images/icon.png" height="128px" width="128px" border="4px" alt="Profile">
							</a>
						</div>
						<div class="media-body">
							<h4 class="media-heading">L.F.</h4>
							I'd like them to take bills into more consideration. I get a grand a month from work, 800 in bills, sometimes more, and get 100 in snap... how am I to buy good food for my child when all I can afford is crap food?</div>
					</div>
					<hr>
					<div class="media">
						<div class="pull-left">
							<a href="#">
								<img class="media-object" src="images/icon.png" height="128px" width="128px" border="4px" alt="Profile">
							</a>
						</div>
						<div class="media-body">
							<h4 class="media-heading">A.P.</h4>
							a valid point here. A lot of times, the benefits or even the food boxes are sort of stretched to the point that you are forced to buy crap food. Its cheaper to eat ramen and hot dogs than lean proteins and veggies. So a lot of children on assistance of some kind are ridiculously malnourished. The school lunch program is great if kids qualify and only schools with 70% of kids in school lunch program also get free breakfast. So some of these kids only get 1 nutritious meal a day. We are not currently on assistance, but we were when my kids were younger. My husband was a single dad before he and I married and then we received WIC with my pregnancy and infancy of my daughter. So I sort of understand the struggle.</div>
					</div>
				<hr>	
					<div class="media">
						<div class="pull-left">
							<a href="#">
								<img class="media-object" src="images/icon.png" height="128px" width="128px" border="4px" alt="Profile">
							</a>
						</div>
						<div class="media-body">
							<h4 class="media-heading">R.S.</h4>
							Oh have never been to a food bank but I do receive snap. I don't think that it's not that you can only afford junk food but that when you receive your benefits you should be asked to take classes on how to purchase groceries and how to cook to make the money stretch! Yes items like ginger bread house kits and fondant and bulk frosting and such should not be on the allowed list to purchase. I believe in drug testing to receive and continue to receive benefits. And they make getting and staying on benefits to easy</div>
					</div>


</div>	


 <div align="center"><a href="https://docs.google.com/document/d/12zr8MouH0Q2XuxfENj6H7r3qnArqR9Q1sfRDjH5_bIw/edit?usp=sharing" target="_blank">View all 40+ Comments</a></div> 


</template>
