<template name="how">
<div class="container white-back">
  <div class="page-header">
    <h1>HOW</h1>  
  </div>
  <div class="well">After signing up with a home address, a unit will be delivered that has 
  built in sensors to alert our central distribution center when the beans/rice supply is running low so that 
  we can send a fresh supply. The pantry box stores a week's worth of rice and beans as an emergency fallback
  for people who need it while also keeping their identity anonymous and removing the frustration of asking for food.</div>
 </div>

</template>
