<template name="mission">
		
	
<div class="container white-back">
  <div class="page-header">
    <h1>The Pantry Project Mission</h1>  
  </div>


	  <img width="309px" height="250px"  src="/images/3dcontainermodel.jpg" style="float:right; padding-top:50px; padding-bottom:20px; padding-right:35px;padding-left:35px;">
			  
			  <div style="padding-left:20px">
			  
					<b>How can we solve food instability for Colorado communities efficiently and sustainably?</b><br>
<div class="well">
<ol>
<li>REMOVE THE STIGMA</li>
Through a simple online form, any family experiencing food insecurity can sign up for regular shipments of beans and rice. There is no application process, no income requirements, no trip to a food bank. Food is a basic human right, and anyone who wants to participate in the program can.

<li>REMOVE THE MIDDLEMAN</li>
Because we will buy the bean and rice staples at bulk pricing, we remove the grocery store markup, enabling people to receive more food for significantly less cost. 

<li>REMOVE THE HINDRANCES</li>
The Pantry Project will provide each participating family with a special storage bin for their beans and rice shipments. The container will have a sensor built into it that automatically notifies us when their food is running low. An automatic shipment of beans and rice will then be generated. Three to five days later, the family will have a new supply of these hearty staples. 
</ol>
</div>

<b>How is this program funded?</b><br>
<div class="well">
<p>We will get The Pantry Project off the ground through crowdfunding and angel investors. We are looking for philanthropic investors who want to put their money into a venture that has the potential to solve food insecurity for the entire state of Colorado. </p>

<p>Our goal is to eventually establish private/public partnerships between The Pantry Project and the government.</p>
<p>We believe <b>we can save the federal government billions of dollars every year</b> through our innovative program. </p>

</div>
<b>How do we do it?</b><br>
<div class="well">
<div style="padding-left:20px;">
				<p>After signing up with a home address, a unit will be delivered that has 
				  built in sensors to alert our central distribution center when the beans/rice supply is running low so that 
				  we can send a fresh supply. The pantry box stores a week's worth of rice and beans as an emergency fallback
				  for people who need it while also keeping their identity anonymous and removing the frustration of asking for food.</p>
				  
				  <p>The containers are manufactured from plastic in order to keep them light, durable, and washable. Each have lids
				  with rubber seals to allow the rice and beans to stay fresh for long periods of time. Weight sensors are built into
				  into the bottom of the containers to track what level of product remains. Once the levels are depleted to a certain amount,
				  an alert message is sent wirelessly from the unit back to our central distribution center and more product is
				  autmoatically shipped to the GPS location of the unit.</p>
				  
				  <p>To reduce theft or abuse of the system, algorithms will be set in place to flag unusual activity and excessive
				  use. Each shipment should last at least seven days and is intended to be used only as an emergency fallback. Our 
				  system is unique in that it will have accountability in usage while still protecting the anonymity of the user.</p>
			  </div>
</div>
		
 </div></div>

</template>
