<template name="strategicpartners"> 
<div class="container white-back">
  <div class="page-header">
    <h1>Strategic Partners</h1><hr color="black" size="5px">   
 
 
 <p>
 We have the potential to partner with several large corporations to get our start up off the ground.
 </p> 
   </div>
   <center>
   <img src="/images/partner1.jpg" style="padding:40px;">
   <img src="/images/partner2.jpg" style="padding:40px;">
   <img src="/images/partner3.jpg" style="padding:40px;"><br>
   <img src="/images/partner4.jpg" style="padding:40px;">
   <img src="/images/partner5.jpg" style="padding:40px;">
   <img src="/images/partner6.jpg" style="padding:40px;"><br>
   </center>
 </div>
</template>
